/* font-family: 'Abril Fatface', cursive;
font-family: 'Poppins', sans-serif; */
.navbar-brand {
  position: relative;
  padding-left: 25px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.nav-link {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.navbar-brand:before {
  position: absolute;
  content: "1";
  left: 0;
  top: 7px;
}

.navbar-brand:hover:before {
  content: "2";
}
