:root {
  --main-family-font: "Poppins", sans-serif;
  --main-color: #fa434c;
}

.navbar-brand {
  position: relative;
  padding-left: 25px;
  font-family: var(--main-family-font);
  font-weight: 500;
}
.nav-link {
  font-family: var(--main-family-font);
}

.navbar-brand:before {
  position: absolute;
  content: "🍎";
  left: 0;
  top: 3px;
}

.navbar-brand:hover:before {
  content: "🍏";
}
.hero-page {
  text-align: center;
}
h1 h2 h3 {
  font-family: var(--main-family-font);
}
h2 {
  font-weight: 400;
}
h1 {
  font-weight: 700;
  font-size: 65px;
}
h3 {
  font-size: 25px;
  font-weight: 400;
  opacity: 70%;
}
.hero-page h3 {
  margin-bottom: 60px;
}
img {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.col-sm-6 {
  padding: 0;
}
.contact-me {
  font-family: var(--main-family-font);
  padding: 15px 25px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  border: 2px solid var(--main-color);
}
.contact-me:hover {
  color: var(--main-color);
  background-color: white;
  border-color: var(--main-color);
  text-decoration: none;
}
.about-app {
  font-family: var(--main-family-font);
  text-align: center;
}
.app-name {
  font-size: 35px;
  font-weight: 700;
}
.app {
  background-color: rgb(255, 216, 216, 40%);
}
.app-description {
  padding: 15px 25px;
  margin: 30px;
  text-align: center;
}
.app-description-p {
  margin-top: 30px;
}
